DB_PORT=3306
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD= 
DB_NAME=project_manager_db
APP_SECRET=mysecrect

TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=3306
TEST_DATABASE_USERNAME=root
TEST_DATABASE_PASSWORD=
TEST_DATABASE_NAME=roject_manager_test_db